<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Payment</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/car-icon.png"rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <!-- jQuery and jQuery Validate -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>

  <!-- Other JS Libraries -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/payment.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js"></script>
  <script src="assets/js/jquery.spapp.js"></script>
  <script src="assets/js/custom.js"></script>
  <script src="assets/js/intro.js"></script>
  <script src="assets/js/utils.js"></script>
  <script src="assets/js/restclient.js"></script>
  <script src="config.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="assets/js/jQuerySPApp.js"></script>
  <script src="assets/js/user-service.js"></script>
  <script src="assets/js/highcharts.js"></script>
  <script src="assets/js/customer-service.js"></script>
  <link href="assets/css/style.css" rel="stylesheet">
  <script src="assets/js/AppRoutes.js"></script>
  <script src="assets/js/car-info.js"></script>
</head>

<body>
  <div class="payment-form-container">
    <div class="MinivanPaymentDetailsHeading">
      <h1>ENTER YOUR PAYMENT DETAILS</h1>
    </div>

    <div class="MinivanPaymentInfoContainer">
      <div class="MinivanPaymentLogo"></div>
      <h1>Payment Info</h1>

      <form id="paymentForm">
        <h2>Full Name</h2>
        <div class="MinivanPaymentInfoNameContainer">
          <input type="text" id="name" name="name" placeholder="Enter your name" required>
        </div>

        <h3>Credit Card Number</h3>
        <div class="MinivanPaymentInfoCardContainer">
          <input type="text" id="cardNumber" name="cardNumber" placeholder="1234 1234 1234 1234" required>
        </div>

        <h4>Exp Date</h4>
        <div class="MinivanPaymentExpDateCardContainer">
          <input type="text" id="expiryDate" name="expiryDate" placeholder="MM/YY" maxlength="5" required>
        </div>

        <h5>CVV</h5>
        <div class="MinivanPaymentCVVCardContainer">
          <input type="password" id="cvv" name="cvv" placeholder="CVV" maxlength="3" required>
        </div>

        <h6>Zip Code</h6>
        <div class="MinivanPaymentZipCodeCardContainer">
          <input type="text" id="zipCode" name="zipCode" placeholder="71250" maxlength="5" required>
        </div>

        <h7>Number Of Days</h7>
        <div class="MinivanPaymentNumberOfDaysCardContainer">
          <input type="text" id="numberOfDays" name="numberOfDays" placeholder="7" required>
        </div>

        <h8>Total Price</h8>
        <div id="MinivanPaymentTotalSumContainer" class="MinivanPaymentTotalSumContainer"></div>
        <span id="totalSum"></span>

        <button class="MinivanPaymentButton" type="submit"><h1>CONFIRM PAYMENT</h1></button>
      </form>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      $('#paymentForm').validate({
        rules: {
          cardNumber: {
            required: true,
            digits: true,
            minlength: 16,
            maxlength: 16
          },
          cvv: {
            required: true,
            digits: true,
            minlength: 3,
            maxlength: 3
          }
        },
        messages: {
          cardNumber: {
            required: "Please enter your card number",
            digits: "Please enter only digits",
            minlength: "Card number must be exactly 16 digits",
            maxlength: "Card number must be exactly 16 digits"
          },
          cvv: {
            required: "Please enter your CVV",
            digits: "Please enter only digits",
            minlength: "CVV must be exactly 3 digits",
            maxlength: "CVV must be exactly 3 digits"
          }
        },
        submitHandler: function(form) {
          alert('Form submitted successfully!');
          form.submit();
        }
      });
    });
  </script>

</body>
</html>